body {
    font-family: 'work sans', sans-serif;
}

a:hover,
button:hover,
button:active,
a:active,
button:focus {
    outline: 0;
}

.list-group-item.d-inline-block {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ebebeb;
}

.list-group-item.d-inline-block {
    color: #000;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-family: 'work sans';
}

.user_profile_name.text-center h2 {
    font-size: 17px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #3498db;
}

.nav-tabs {

    border-bottom: 1px solid transparent;

}

.nav-tabs .nav-link {

    border: 0;
}

.followingship-status {

    border: 0;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 12px;
    color: #000;

}

.following.followingship-status {

    background: #f0f0f0;

}

.followingship-username.float-left {
    font-weight: 500;
    font-size: 13px;
}

.load_more_section.text-center button {
    margin-top: 20px;
    border: 0;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 13px;
}

.load_more_section.text-center i {
    padding-right: 10px;
}

.followed.followingship-status {
    background:
        #3498db;
    color:
        #fff;
}


.scrollbar-inner_2 {
    height: 300px;
}


.list-group.following_you.clearfix {
    margin-right: 20px;
    margin-left: 20px;
}


body {
    background-image: url('../img/files/stars.svg');
    background-color: #3c40c6;
    color: #fff;
    width: 100%;
    float: left;
    display: block;
}

.itemise_inner {
    background: #fff;
    border-radius: 3px;
    margin-top: 50px;
    position: relative;
}

.user_profile_name.text-center h2 {
    font-size: 17px;
    color: #000;
}

.se_people {
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #000;
    background: #efeeee;
    height: 40px;
    padding-right: 48px;
}

#people form {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.se_people_icon {
    position: absolute;
    right: 0;
    height: 40px;
    background: transparent;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.scroll-wrapper.scrollbar-inner {
    margin-top: 20px;
}

.profile_section_inner.login_section {
    padding: 50px;
}

.form_login_action {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background: #2ecc71;
    color:#fff;
    font-size: 14px;
}

.profile_section_inner.login_section .form-row {
    color: #000;
    margin-bottom: 20px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.profile_section_inner.login_section h2 {
    color: #000;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.aleady_note {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.error_input {
    color: red;
    font-size: 10px;
}

.form-control.has-error {
    border: 1px solid red;
}

/*start spinner*/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ffffff;
    font-size: 5px;
    margin: 0  auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: -10px;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
/*end spinner*/
.info_alert {
    color: red;
    font-size: 15px;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.logout_action{
    background-color: #3c40c6;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
}
a.logout_action{
    text-decoration: none;
}
a.logout_action:hover{
    color: #cef4de;
}
.no_report_found{
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    color: #3c71a4;
    text-align: center;
}
